@media only screen and (max-width: 768px) {
    .container .title h1 {
        font-size: 24px;
    }

    .container .subtitle h2 {
        font-size: 14px;
        text-align: center;
    }

    .container .col {
        margin: 0 20px;
    }

    .container .card {
        height: 300px;
        width: 300px;
        margin: 20px 0;
    }
}

@media only screen and (max-width: 425px) {
    .container .title h1 {
        font-size: 24px;
    }

    .container .subtitle h2 {
        font-size: 14px;
        text-align: center;
    }

    .container .col {
        width: 90%;
    }

    .container .card {
        height: 100%;
        width: 100%;
        margin: 20px 0;
    }
}