@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 10px;
}

.container .title h1 {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 40px 0;
    width: auto;
    height: auto;
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
    color: whitesmoke;
}

.container .subtitle h2 {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 40px 300px;
    width: auto;
    height: auto;
    font-family: Poppins;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: whitesmoke;
}

.container .card {
    display: flex;
    margin: 20px 30px;
    flex-direction: column;
    height: 350px;
    width: 350px;
    border: 1px solid rgba(255, 255, 255, 0.01);
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.card .imgBox {
    position: relative;
    margin: 30px auto 0 auto;
    display: flex;
    height: 175px;
    width: 175px;
    border-radius: 50%;
    border: 10px solid rgba(0, 0, 0, 0.25);
}

.card .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.card .contentBox {
    display: flex;
    margin-top: 20px;
    justify-self: center;
    flex-direction: column;
    text-align: center;
}

.card .contentBox h1 {
    width: auto;
    height: auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: whitesmoke;
}

.card .contentBox span {
    color: whitesmoke;
    width: auto;
    height: auto;
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

.card .social {
    position: relative;
    display: flex;
    margin: 20px auto;
}

.card .social ul {
    display: flex;
}

.card .social ul li {
    list-style: none;
    margin: 0 10px;
    transition: .5s;
}

.card .social ul li i {
    font-size: 25px;
    color: whitesmoke;
}