@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 10px;
}

.container .title h1 {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 40px 0;
    width: auto;
    height: auto;
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
}

.container .subtitle h2 {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 40px 300px;
    width: auto;
    height: auto;
    font-family: Poppins;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

.container .card {
    display: flex;
    margin: 0 30px;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 350px;
    width: 350px;
    border: 1px solid #374637;
}

.card .imgBox {
    position: relative;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.card .imgBox img {
    position: relative;
    height: 175px;
    width: 175px;
    border-radius: 100%;
}

.card .contentBox {
    display: flex;
    margin-top: 20px;
    justify-self: center;
    flex-direction: column;
    text-align: center;
}

.card .contentBox h1 {

}